<h1><%= @restaurant.name %></h1>

<h2>Basic Info</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Prices</th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @restaurant.name %></td>
        <td><%= @restaurant.website %></td>
        <td>$<%= @restaurant.high_price %> - $<%= @restaurant.low_price %></td>
        <td><%= @restaurant.hours %></td>
      </tr>
  </tbody>
</table>
