<h1><%= @restaurant.name %></h1>

<h2>Business Hours : </h2>
<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Open</th>
      <th>Close</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurant.hours.each do |day, hours| %>
      <tr>
        <td><%= day %></td>
        <td><%= hours["Open"] %></td>
        <td><%= hours["Closed"] %></td>
      </tr>
        <% end %>
  </tbody>
</table>  
    <br>
    <br>
        <%= link_to 'Edit this restaurant', edit_restaurant_path  %>
    <br>
    <br>    
          <%= link_to 'Delete this restaurant', delete_restaurant_path  %>
    <br>
    <br>
        <%= link_to 'Return to Home Page', root_path %>

